body {
    background-color: black;
    color: wheat;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    text-align: center;
    padding: 20px;
    background-color: #1312106e;
    border-radius: 5px;
    box-shadow: 3px 5px 5px rgba(182, 136, 8, 0.678);
  }
  
  h1 {
    margin-top: 0;
  }
  
  .input-bar {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input[type="text"] {
    padding: 5px;
    width: 200px;
  }
  
  button {
    padding: 10px 20px;
    background-color: black;
    margin-top: 10px;
    color: wheat;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #483C32;
  }
  
  p #result {
    margin-top: 20px;
    font-weight: bold;
  }
  